.login-form{
    background-color:#f1f7fe;
    width: 30%;
    height: 250px;
    display:flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    border-right: 8px solid #e1e7f6;
    border-left: 8px solid #e1e7f6;
}
.input-container{
     background-color: #ffffff;
     width: 40%;
     margin-bottom: 10px;
     padding: 20px;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     height: 55px;
    

}
.input-lable{
    text-align: start;
    color: #aaaaaa;
}
.login-input{
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.submit-button{
    width: 43%;
    background-color:#3e4584 ;
    padding: 10px;
    color: white;
    border-radius: 30px;
}
.error{
    width: 100%;
    margin-top: 0;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    padding: 5px;
}